html{background: #cecece }
body{margin:0 10%; padding: 1em; background: #fff}
pre{
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 1em;
  overflow:auto;
}
table th{
  background: #eee;
  border-bottom: 2px solid #ddd;
  padding: .2em;
}
table td{
  border-bottom: 1px solid #ddd;
  padding: .2em;
}
